HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### KEEP ###
!.gitkeep

### plugins ###
rebel.xml

### DB ###
attachments/db/*.sqlite
!attachments/db/*.zip

### REDIS ###
attachments/redis
!attachments/redis/REDIS-X64-3.2.100.zip
!attachments/redis/redis01/up.bat
!attachments/redis/redis01/up_redis_windows.conf.ftl
!attachments/redis/redis02/up.bat
!attachments/redis/redis02/up_redis_windows.conf.ftl
!attachments/redis/打开两个REDIS.bat

### log ###
logs/
app.lock